html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

header, 
.form-container {
    background-color: rgba(39, 103, 73, 0.95) !important; 
    color: var(--color-text-light) !important;
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

header h1, .form-container h2 {
    color: white !important;
}

.light-mode { 
  background-color: var(--color-background); 
  color: var(--color-text-dark);
  background-image: url('/BackgoundZooPet.png'); 

}

.dark-mode { 
  background-color: var(--dark-color-background); 
  color: var(--dark-color-text);
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/BackgoundZooPet.png'); 

}