.form-container {
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
    max-width: 700px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    display: block ;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 0 30px 0;
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 1.8em;
    text-transform: none;
    border-bottom: none;
}

.form-container h2::after {
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background-color: white;
    margin: 10px auto 0 auto;
}

.form-container h2::before {
    display: none;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}

.form-buttons {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}