.header-nav-buttons button {
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    transition: transform 0.2s, filter 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-nav-buttons button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    background-color: var(--color-primary);
}

.input-group {
    margin-bottom: 0;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: white !important;
    font-size: 0.95em;
}

.input-group input,
.input-group select,
.input-group textarea {
    background-color: var(--color-input-bg) !important;
    color: #333 !important;
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

.input-group input[type="date"] {
    text-align: center;
    color: #555;
}

button {
    background-color: var(--color-primary);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1em;
    transition: transform 0.1s;
    flex-grow: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
}

button.secondary-button {
    background-color: #464646;
    color: white;
}

button.secondary-button:hover {
    background-color: #333;
}

.global-message {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.global-message.error {
    background-color: #FFCDD2;
    color: var(--color-error);
}

.global-message.success {
    background-color: var(--color-background);
    color: var(--color-text-dark);
}